<!DOCTYPE HTML>
<html>
<head>
	<title>ML Use Cases</title>
	<link rel="stylesheet" type="text/css" href= {{ url_for('static', filename = "style.css")}}>
</head>

<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
		<div class="logo">
				<h1>ML Use Cases</h1>
		</div>
		<div class="table">
			<table cellpadding="5">
			<tr>

				<td align="center" valign="center">
					<a href={{ url_for('SalPred') }}>
						<img src={{ url_for('static', filename = "salary.jpg")}} alt="Salary Prediction" height=300px width=300px/>
					</a>
					<br />
						Salary Prediction
					<br/>
				</td>
			
				<td align="center" valign="center">
					<a href={{ url_for('RReviewPred') }}>
						<img src= {{ url_for('static', filename = "Restaurant.jpg")}} alt="Restaurant Review Prediction" height=300px width=300px/>
					</a>
					<br />
						Restaurant Review Prediction
					<br/>
				</td>

				<td align="center" valign="center">
					<a href="#">
						<img src= {{ url_for('static', filename = "Customer1.jpg")}} alt="Customer Churn Prediction" height=300px width=300px/>
					</a>
					<br />
						Customer Churn Prediction
					<br/>
				</td>
			
				<td align="center" valign="center">
					<a href="#">
						<img src={{ url_for('static', filename = "wine.jpg")}} alt="Wine Quality Prediction" height=300px width=300px/>
					</a>
					<br />
						Wine Quality Prediction
					<br/>
				</td>

			</tr>
				<tr>
					<td align="center" valign="center">
						<a href="#">
							<img src= {{ url_for('static', filename = "HousePrice.jpg")}} alt="House Price Prediction" height=300px width=300px/>
						</a>
						<br/>
							House Price Prediction
						<br/>
					</td>
				</tr>
			</table>
		</div>
	</header>
</body>
</html>